.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  height: 60px;
  width: 100%;

  h2 {
    margin: 0;
    font-size: 1.5rem;
  }

  .nav-actions {
    display: flex;
    align-items: center;
  }
}
